/* main.css */
:root {
    --primary-green: #81C784;
    --hover-green: #4CAF50;
    --print-blue: #64B5F6;
    --text-white: #ffffff;
    --bg-gray: #f4f4f4;
}

button {
    color: var(--text-white) !important; /* Texto blanco para mejor contraste */
    font-family: inherit;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg-gray);
    margin: 0;
    padding: 0;
}

#app {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 32px;
}